*{
    box-sizing: border-box;
}
.content-wrapper{
    height: calc(100vh - 64px);
    padding: 1px;
    display: flex;
}
.content-wrapper > div:nth-child(2){
    flex-grow: 1;
}
.add-new-service-wrapper{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}